[Unit]
Description=AliyunDrive WebDAV
After=network.target

[Service]
Type=simple
Environment="REFRESH_TOKEN="
ExecStart=/usr/local/bin/aliyundrive-webdav --drive-type resource --auto-index -w /home/aliyundrive-webdav --refresh-token  eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJlZmU3YTc3MDA4Mjg0YjAxYmUyYTFmZmM1YmM2ZDFhMyIsImF1ZCI6IjczZTYxMTgzMWE3YzRkODdhYzQ5Yzg0ODFiZjlmMmM0IiwiZXhwIjoxNzcyODg5NDM2LCJpYXQiOjE3NjUxMTM0MzYsImp0aSI6IjA4Y2Y1ODUxZjc1MzQ1OTU4OTAyYjk5ZTlkYWM5MGQyIn0.V_nOzi0E6Y-f1CEtPU5a-dEfCgkjBbmHHUFMgWfzD6QMD4qr_vzBc2GG6spiWgFvq8FoRs11yM3WCa52wFKcog
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target