[Unit]
Description=Run FRPC Script at Startup
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
#需要根据目录位置进行修改
ExecStart=/usr/local/bin/frpc --config /home/nas/frp/client/frpc.toml
Restart=always
RestartSec=3

[Install]
WantedBy=default.target