[Unit]
Description=AliyunDrive WebDAV
After=network.target

[Service]
Type=simple
Environment="REFRESH_TOKEN="
ExecStart=/usr/local/bin/aliyundrive-webdav --auto-index -w /home/aliyundrive-webdav
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target